<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ Create by Andrey Moiseenko for DoFast project
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.geometry.dofast">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dofast_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<activity
android:name="com.education.geometry.dofast.DoFast"
android:label="@string/app_name"
android:theme="@style/AppTheme.NoActionBar">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
    </application>

    </manifest>